* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar {
    background: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Desktop Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #444;
        flex-direction: column;
        display: none;
        padding: 20px 0;
    }
    .nav-links li {
        padding: 10px 0;
        text-align: center;
    }

    /* Show menu when checkbox is checked */
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}
